## FOLDERS

# ZCode (by z.ai)
/.zcode/*

# Node cache
/node_modules/*

# Python
__pycache__/

# Plugin
/plugin/.gradle/*
/plugin/build/*

# Local server
/server/*
!/server/bw_maps/

# AI mind old
/data/brains_old/*

## FILES

session.lock
level.dat_old.gz
